/*GLOBAL*/
* {
  font-family: monospace;
}

p {
  font-size: 1.2em;
}

button {
  margin-top: 2em;
  border-radius: 24px;
  border: 1px solid rgb(245, 0, 87);
  padding: 1em;
  background: transparent;
  color: rgb(245, 0, 87);
}
button:hover {
  border: 1px solid #3e3b5e;
  color: #3e3b5e;
  box-shadow: 2px 2px #3e3b5e;
}

/*GLOBAL END*/

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.5fr 4.5fr 4.5fr 0.5fr;
}

/*NAV SECTION*/
.nav-header {
  grid-column: 1 / -1;
  display: flex;
  padding: 0.5em;
  border-bottom: 1px solid rgb(245, 0, 87);
  background-color: #3e3b5e;
  color: #fff;
}

.nav-header > div {
  margin-right: 0.5em;
}

.nav-header > div:last-child {
  margin-left: auto;
}
/*NAV SECTION END*/

/*HERO SECTION*/
.hero-container {
  grid-column: 1 / -1;
  background-image: url(./img/undraw_stars_re_6je7.svg);
  background-size: 50em 16em;
  background-repeat: no-repeat;
  text-align: end;
  padding: 2em 5em;
  margin-top: 2em;
  color: #3e3b5e;
}

.cta-cards {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  text-align: center;
  grid-gap: 1em;
  margin-top: 2em;
}
.cta-image {
  width: 20%;
}
.cards {
  background-color: #fff;
  border-radius: 5px;
  margin-top: 2em;
  margin-right: 1em;
  margin-left: 1em;
  padding: 1em;
  color: #3e3b5e;
}

.cards:hover {
  transform: scale(1.05);
}

/*HERO SECTION END*/

/*FOOTER SECTION*/
.footer {
  grid-column: 1 / -1;
  margin-top: 2em;
  padding: 1em;
  background-color: #3e3b5e;
  border-top: 1px solid rgb(245, 0, 87);
  color: #fff;
}
/*FOOTER SECTION END*/

/*RESPONSIVENESS*/
@media screen and (max-width: 628px) {
  .cta-cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .hero-container {
    color: rgb(245, 0, 87);
    background-size: 12em 10em;
  }

  .hide-mobile {
    display: none;
  }
}
