.wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.5fr 4.5fr 4.5fr 0.5fr;
}
.nav-header {
  grid-column: 1 / -1;
  display: flex;
  padding: 0.5em;
}

.nav-header > div {
  margin-right: 0.5em;
}

.nav-header > div:nth-child(3) {
  margin-left: auto;
}

.hero-container {
  grid-column: 1 / -1;
  background-image: url(./img/undraw_stars_re_6je7.svg);
  background-size: contain;
  background-repeat: no-repeat;
  text-align: end;
  padding: 2em 5em;
}

.cta-cards {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  text-align: center;
  grid-gap: 1em;
  margin-top: 1em;
}

.cards {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: -8px 13px 35px 2px rgba(128, 128, 128, 0.652);
  margin-top: 2em;
  height: 100%;
}

.footer {
  grid-column: 1 / -1;
  background-color: darkgray;
}
