* {
  font-family: monospace;
}

.wrapper {
  height: 98vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.5fr 4.5fr 4.5fr 0.5fr;
}
.nav-header {
  grid-column: 1 / -1;
  display: flex;
  padding: 0.5em;
  border-bottom: 1px solid rgb(245, 0, 87);
  background-color: #3e3b5e;
  color: #fff;
}

.nav-header > div {
  margin-right: 0.5em;
}

.nav-header > div:last-child {
  margin-left: auto;
}

.hero-container {
  grid-column: 1 / -1;
  background-image: url(./img/undraw_stars_re_6je7.svg);
  background-size: 50em 17em;
  background-repeat: no-repeat;
  text-align: end;
  padding: 2em 5em;
  margin-top: 2em;
  color: #3e3b5e;
}

.cta-cards {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  text-align: center;
  grid-gap: 1em;
  margin-top: 2em;
}

.cards {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: -8px 13px 35px 2px rgba(128, 128, 128, 0.652);
  margin-top: 2em;
  margin-right: 1em;
  margin-left: 1em;
  padding: 1em;
  color: #3e3b5e;
}

.cards:hover {
  transform: scale(1.05);
}

.footer {
  grid-column: 1 / -1;
  margin-top: 2em;
  padding: 1em;
  background-color: #3e3b5e;
  border-top: 1px solid rgb(245, 0, 87);
}

.footer h3 {
  color: #fff;
  float: right;
}

button {
  margin-top: 2em;
  border-radius: 24px;
  border: none;
  background-color: rgb(245, 0, 87);
  padding: 1em;
  color: #fff;
}
